{{ define "main" }}
<article>
  <div class="border-black mx-auto 2xl:max-w-7xl 2xl:border-x-2 border-y-4 bg-gray-100">
    <div class="py-12 px-2 text-center">
      <h1 class="text-6xl">{{ .Title }}</h1>
      <div class="pt-4 text-2xl">
        {{ partial "main/article-meta.html" . }}
      </div>
    </div>
  </div>
  <div class="flex flex-row flex-wrap divide-black divide-x-4 border-b-4 border-black">
    {{ $image := .Resources.GetMatch (printf "**%s" (index .Params.featured_image)) -}}
    {{ if $image -}}
    <div class="w-full md:w-2/3">
      <img src="{{ $image.RelPermalink }}" alt="" class="lazyload blur-up img-fluid object-cover">
    </div>
    {{ end -}}
    <aside class="w-full md:w-1/3 p-4">
      {{ partial "main/article-contributors.html" . }}
    </aside>
  </div>
  <div class="flex flex-row flex-wrap divide-black divide-x-4 border-b-4 border-black">
    <div class="w-full md:w-2/3 px-4 py-4 md:px-24 text-xl leading-normal">
      {{ .Content }}
    </div>
    <aside class="w-full md:w-1/3 md:h-screen md:sticky md:top-0">
      test
      {{ $related := .Site.RegularPages.Related . | first 3 -}}
      {{ with $related -}}
        {{ range . -}}
          {{ .Params.title }}
        {{ end -}}
      {{ end -}}
    </aside>
  </div>

  <div class="">
    {{ with .Params.summary -}}<p class="lead">{{ . }}</p>{{ end -}}
    {{ if .Params.tags -}}
    <div class="tag-list-single">
      {{ range $index, $tag := .Params.tags -}}
      <a class="btn btn-light" href="{{ " /tags/" | absURL }}{{ . | urlize }}/" role="button">{{ . }}</a>
      {{ end -}}
    </div>
    {{ end -}}
  </div>
  </div>
</article>
{{ end }}

{{ define "sidebar-footer" }}
{{ if site.Data.doks.relatedPosts -}}
{{ $related := .Site.RegularPages.Related . | first 3 -}}
{{ with $related -}}
<div class="bg-light">
  <section class="section section-related container">
    <div class="row justify-content-center">
      <div class="col-md-12 col-lg-9">
        <h2 class="section-title text-center">Related posts</h2>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-9">
        {{ range . -}}
        <div class="card">
          <div class="card-body">
            <article>
              <h2 class="h3"><a class="stretched-link text-body" href="{{ .RelPermalink }}">{{ .Params.title }}</a></h2>
              <p>{{ .Params.summary | safeHTML }}</p>
              {{ partial "main/article-meta.html" . -}}
            </article>
          </div>
        </div>
        {{ end -}}
      </div>
    </div>
  </section>
</div>
{{ end -}}
{{ end -}}
{{ end }}