{{ define "main" }}
<article>
  <div class="border-black mx-auto 2xl:max-w-7xl 2xl:border-x-2 border-y-4 bg-gray-100">
    <div class="py-12 px-2 text-center">
      <h1 class="text-6xl">{{ .Title }}</h1>
      <div class="pt-4 text-2xl">
        {{ partial "article/meta.html" . }}
      </div>
    </div>
  </div>
  <div class="flex flex-row flex-wrap mx-auto 2xl:max-w-7xl divide-x-4 border-black">
    {{ $image := .Resources.GetMatch .Params.featured_image -}}
    {{ if $image -}}
    <div class="w-full md:max-w-[66.6%] border-black relative">
      <img src="{{ $image.RelPermalink }}" alt="" class="lazyload blur-up img-fluid object-cover">
      {{ partial "article/flags.html" . }}
    </div>
    {{ end -}}
    <aside class="w-full md:max-w-[33.3%]">
      {{ partial "article/contributors.html" . }}
      {{ partial "article/categories.html" . }}
    </aside>
  </div>
  <div class="flex flex-row flex-wrap mx-auto 2xl:max-w-7xl divide-x-4 border-b-4 border-black">
    <div class="w-full md:w-2/3 px-4 py-4 md:px-24 text-xl leading-normal">
      {{ .Content }}
    </div>
    <aside class="w-full md:w-1/3 md:h-screen md:sticky md:top-0">
      {{ partial "article/latest.html" . }}
    </aside>
  </div>
</article>
{{ end }}