{{ $last := sub (len .Params.contributors) 1 }}
<p><small>

{{ $contributor_uuids := .Params.contributors }}
{{ $contributors := where site.RegularPages "Type" "contributors" }}
{{ with where $contributors ".Params.uuid" $contributor_uuids }}
  {{ with index . 0 }}
    {{/* you got your company */}}
    {{ $image = .Resources.GetMatch (printf "**%s" .Params.featured_image) }}
  {{ end }}
{{ end }}

{{ if .Params.contributors -}}
  {{ range $index, $contributor := .Params.contributors }}
    {{- with $.Site.GetPage "taxonomyTerm" (printf "contributors/%s" (urlize .)) -}}
      {{ if .Params.avatar -}}
        {{ $image := .Resources.GetMatch (printf "**%s" .Params.avatar) -}}
        {{ $imageLq := $image.Resize "15x15 webp q95" -}}
        {{ $image = $image.Resize "60x60 webp q95" -}}
        <img class="rounded-circle w-auto mx-1 lazyload blur-up" src="{{ $imageLq.RelPermalink }}" data-src="{{ $image.RelPermalink }}" alt="{{ .Title }}" width="30" height="30">
      {{ end -}}
    {{ end -}}
    <a class="stretched-link position-relative" href="{{ " /contributors/" | relURL }}{{ . | urlize }}/">{{ . }}</a>
  {{ end -}}
{{ end -}}
</small><p>