/**
 * This injects Tailwind's base styles and any base styles registered by
 * plugins.
 */
 @tailwind base;

 /**
  * This injects Tailwind's component classes and any component classes
  * registered by plugins.
  */
 @tailwind components;
 
 /**
  * This injects Tailwind's utility classes and any utility classes registered
  * by plugins.
  */
 @tailwind utilities;
 
 /**
  * Use this directive to control where Tailwind injects the hover, focus,
  * responsive, dark mode, and other variants of each class.
  *
  * If omitted, Tailwind will append these classes to the very end of
  * your stylesheet by default.
  */
 @tailwind variants;

 /**
  * Use the @layer directive to tell Tailwind which "bucket" a set of custom
  * styles belong to.
  *
  * Valid layers are base, components, and utilities.
  */

@layer base {
  body {
    margin: 0;
  }
  h1 {
    @apply text-5xl;
  }
  h2 {
    @apply text-xl;
  }
  img[data-sizes="auto"] {
    display: block;
    width: 100%;
  }
  .figure {
    display: block;
  }
  .blur-up {
    filter: blur(5px);
    transition: filter 400ms;
  }
  .blur-up.lazyloaded {
    filter: unset;
  }
}

@layer components {
  .btn-blue {
    @apply bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded;
  }
}

@layer utilities {
  .filter-none {
    filter: none;
  }
  .filter-grayscale {
    filter: grayscale(100%);
  }
}



/* scrollbar for Chrome, Safari and Opera */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/* Disable scrolling on body when nav overlay is open */
body.hide { overflow: hidden; }



/* ––––––––––––––––––––––––––––––––––––––––––––––––––
  Based on: https://codepen.io/nickelse/pen/YGPJQG
  Influenced by: https://sproutsocial.com/
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* #Mega Menu Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.mega-menu {
  display: none;
  left: 0;
  position: absolute;
  text-align: left;
  width: 100%;
  z-index: 1000;
}



/* #hoverable Class Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.hoverable {
  position: static;
}

.hoverable > a:after {
  content: "\25BC";
  font-size: 10px;
  padding-left: 6px;
  position: relative;
  top: -1px;
}

.hoverable:hover .mega-menu {
  display: block;
}


/* #toggle Class Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.toggleable > label:after {
  content: "\25BC";
  font-size: 10px;
  padding-left: 6px;
  position: relative;
  top: -1px;
}

.toggle-input {
  display: none;
}
.toggle-input:not(checked) ~ .mega-menu {
  display: none;
}

.toggle-input:checked ~ .mega-menu {
  display: block;
}

.toggle-input:checked + label {
  color: white;
  background: #2c5282; /*@apply bg-blue-800 */
}

.toggle-input:checked ~ label:after {
  content: "\25B2";
  font-size: 10px;
  padding-left: 6px;
  position: relative;
  top: -1px;
}


/* #toggle dark mode
–––––––––––––––––––––––––––––––––––––––––––––––––– */

[data-theme="light"] body button .toggle-dark {
  display: block;
}

[data-theme="light"] body button .toggle-light {
  display: none;
}

[data-theme="dark"] body button .toggle-light {
  display: block;
}

[data-theme="dark"] body button .toggle-dark {
  display: none;
}


