{{ $image := .Page.Resources.GetMatch .Params.featured_image }}
{{ $image_webp := $image }}
{{ if $image }}
    {{ $image = $image.Resize "480x" }}
    {{ $image_webp = $image.Resize "480x webp" }}
{{ end }}
<article class="flex items-center w-full bg-white transition hover:shadow-xl border">

    <div class="p-4 w-1/3">
        {{ if $image }}
            <picture>
                <source srcset="{{ $image_webp.RelPermalink }}">
                <img alt="" src="{{ $image.RelPermalink }}" class="aspect-square w-full object-contain" />
            </picture>
        {{ end }}
    </div>

    <div class="flex flex-col justify-between w-2/3">
        <div class="border-s border-gray-900/10 p-4 sm:border-l-transparent sm:p-6">
            <a href="{{ .RelPermalink }}">
                <h3 class="font-bold uppercase text-gray-900">
                    {{ .Params.title }}
                </h3>
            </a>

            <p class="mt-2 line-clamp-3 text-sm/relaxed text-gray-700">
                {{ partial "directory/location.html" . }}
            </p>

            <p class="hidden mt-2 line-clamp-3 text-sm/relaxed text-gray-700">
                {{ .Params.excerpt | safeHTML | truncate 100 }}
            </p>
        </div>
    </div>
</article>