<section class="items-center relative w-full">
    <div class="items-center relative w-full border-b-4 mx-auto 2xl:max-w-7xl">
        <div class="flex flex-wrap items-center divide-y-0 2xl:border-x-2 divide-t-0 md:divide-x-4">
            <h2 class="md:w-1/3 lg:text-8xl p-10">Articles</h2>
            <p class="md:w-2/3 p-10 lg:text-2xl">Opinion, analysis, and explainers from subject-matter experts</p>
        </div>
        {{ range first 1 ( where .Site.RegularPages "Section" "articles" )}}
        {{ $image := .Page.Resources.GetMatch .Params.featured_image }}
        <div class="flex flex-wrap divide-y-4 2xl:border-x-2 md:divide-x-4 md:divide-x-reverse">
            <a class="absolute z-50 bottom-2 p-10" href="{{ .RelPermalink }}"><h2 class="lg:text-5xl font-bold p-4 bg-white/95 border-4">{{ .Params.title }}</h2></a>
            <div class="w-full invisible lg:visible lg:w-1/3 md:w-1/2 order-2 relative gap-12 p-2 lg:px-6 lg:order-1">
                <p class="text-lg pt-4">{{ .Params.excerpt | safeHTML }}</p>
                <button class="float-right flex flex-row items-center border-4 p-4 mt-4"><a href="{{ .RelPermalink }}">read more</a><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 4.5L21 12m0 0l-7.5 7.5M21 12H3" />
                </svg></button>                  
            </div>
            <div class="w-full lg:w-2/3 md:w-1/2 order-1 lg:order-2 md:order-2 lg:mt-0 bg-lila-500 block">
                <img src="{{ $image.RelPermalink }}" alt="" class="object-cover">
            </div>
        </div>
        {{ end }}
    </div>
    <div class="items-center relative w-full border-b-4 mx-auto 2xl:max-w-7xl">
        <div class="flex flex-wrap w-full 2xl:border-x-2 md:divide-x-4">
            {{ range first 2 ( after 1 ( where .Site.RegularPages "Section" "articles" ) ) }}
            {{ $image := .Page.Resources.GetMatch .Params.featured_image }}
            <div class="flex relative flex-col w-full md:w-1/2">
                <div class="w-full lg:mt-0 aspect-w-16 aspect-h-9">
                    <img src="{{ $image.RelPermalink }}" alt="" class="object-cover">
                </div>
                <div class="md:w-5/6 absolute p-4 bg-white/95 border-4 bottom-0 lg:px-6">
                    <a class="w-full group" href="{{ .RelPermalink }}">
                        <h2 class="text-4xl font-semibold group-hover:hidden">{{ .Params.title }}</h2>
                        <p class="text-2xl hidden group-hover:flex">{{ .Params.excerpt | safeHTML | truncate 100 }}</p>
                    </a>
                </div>
                <div class="w-1/6 ml-auto py-6">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 m-auto">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 10.5L12 3m0 0l7.5 7.5M12 3v18" />
                    </svg>
                </div>
            </div>
            {{ end }}
        </div>
    </div>
    <div class="items-center relative w-full border-b-4 mx-auto 2xl:max-w-7xl">
        <div class="flex flex-wrap w-full 2xl:border-x-2 md:divide-x-4">
            {{ range first 3 ( after 3 ( where .Site.RegularPages "Section" "articles" ) ) }}
            {{ $image := .Page.Resources.GetMatch .Params.featured_image }}
            <div class="flex relative flex-col w-full md:w-1/3">
                <div class="w-full lg:mt-0 aspect-w-16 aspect-h-9">
                    <img src="{{ $image.RelPermalink }}" alt="" class="object-cover">
                </div>
                <div class="md:w-5/6 absolute p-4 bg-white/95 border-4 bottom-0 lg:px-6">
                    <a class="w-full group" href="{{ .RelPermalink }}">
                        <h2 class="text-2xl font-semibold group-hover:hidden">{{ .Params.title }}</h2>
                        <p class="text-lg hidden group-hover:flex">{{ .Params.excerpt | safeHTML | truncate 100 }}</p>
                    </a>
                </div>
                <div class="w-1/6 ml-auto py-6">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 m-auto">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 10.5L12 3m0 0l7.5 7.5M12 3v18" />
                    </svg>
                </div>
            </div>
            {{ end }}
        </div>
    </div>
</section>