<section class="flex flex-col items-center w-full mx-auto 2xl:max-w-7xl">
    <div class="flex flex-row flex-wrap w-full items-center 2xl:border-x-2">
        <h2 class="md:w-1/3 text-center md:border-r-4 lg:text-7xl">Events</h2>
        <p class="md:w-2/3 p-10 lg:text-2xl">Upcoming conferences and summits</p>
    </div>
    <div class="flex flex-col w-full divide-y-4 border-y-4 2xl:border-x-2">
        {{ range (first 5 ( where .Site.RegularPages "Section" "events" )).ByParam "start_date" }}
            <div class="flex flex-row">
                <div class="md:w-1/6 flex flex-col items-center justify-center border-r-4">
                    <p class="text-xl border-b-2">{{ .Params.start_date | time.Format "Jan" | upper }}</p>
                    <p class="text-6xl font-bold">{{ .Params.start_date | time.Format "2" }}</p>
                </div>
                <div class="flex flex-col w-full md:w-2/3 gap-4 p-4">
                    <a class="w-full" href="{{ .RelPermalink }}"><h2 class="text-3xl">{{ .Params.title }}</h2></a>
                    {{ partial "event/location.html" . }}
                </div>
                {{ $image := .Page.Resources.GetMatch .Params.featured_image }}
                <div class="flex items-center w-full md:w-1/6">
                    <img src="{{ $image.RelPermalink }}" alt="" class="aspect-video w-full p-2 object-contain">
                </div>
            </div>
        {{ end }}
    </div>
</section>