<section class="flex flex-col items-center w-full mx-auto 2xl:max-w-7xl">
    <div class="flex flex-row flex-wrap w-full items-center 2xl:border-x-2">
        <h2 class="md:w-1/3 text-center md:border-r-4 lg:text-7xl">Directory</h2>
        <p class="md:w-2/3 p-10 lg:text-2xl">Companies and organizations</p>
    </div>
    <div class="flex flex-row flex-wrap border-y-4 w-full 2xl:border-x-2">
        {{ range first 9 ( where .Site.RegularPages "Section" "directory" ) }}
            <div class="flex flex-row w-1/3 items-center">
                {{ $image := .Page.Resources.GetMatch .Params.featured_image }}
                <div class="flex items-center w-full md:w-1/3">
                    <img src="{{ $image.RelPermalink }}" alt="" class="aspect-square w-full p-2 object-contain">
                </div>
                <div class="flex flex-col w-full md:w-2/3 gap-4 p-4">
                    <a class="w-full" href="{{ .RelPermalink }}"><h2 class="text-3xl">{{ .Params.title }}</h2></a>
                    {{ partial "directory/location.html" . }}
                </div>
            </div>
        {{ end }}
    </div>
</section>