{{ define "main" }}
<article>
  {{ partial "main/page-title.html" . }}
  <div class="grid grid-cols-1 gap-6 mx-auto mt-6 max-w-7xl md:grid-cols-2 md:divide-x-2 2xl:border-x-4">
    <div class="flex flex-col items-center w-full break-words px-2 md:px-12 lg:px-24">
      {{ $image := .Resources.GetMatch .Params.featured_image -}}
      {{ if $image -}}
        <div class="">
          <img src="{{ $image.RelPermalink }}" alt="" class="lazyload blur-up img-fluid max-h-80 max-w-80 object-cover">
        </div>
      {{ end -}}
      <div class="w-full text-xl pt-8">
        {{ .Content }}
      </div>
    </div>
    <div class="flex flex-col w-full gap-6">
      <aside class="flex flex-col gap-4 w-full mt-2 px-2 md:px-4">
        <div>
          {{ partial "directory/details.html" . }}
        </div>
        <div>
          {{ partial "directory/links.html" . }}
        </div>
      </aside>
    </div>
  </div>
  <aside class="">
    {{ partial "directory/newswire.html" . }}
  </aside>
</article>
{{ end }}