<footer class="w-full mt-10 py-4 bg-gray-800 text-white">
    <div class="w-full text-center flex flex-wrap divide-white md:divide-x-2">
        <div class="w-full p-4 md:w-1/4">
            <h3>About</h3>
        </div>
        <div class="w-full p-4 md:w-1/4">
            <h3>About</h3>
        </div>
        <div class="w-full p-4 md:w-1/4">
            <h3>About</h3>
        </div>
        <div class="w-full p-4 md:w-1/4">
            <h3>About</h3>
        </div>
    </div>
    <div class="w-full mt-4">
        <div class="p-6 text-center">
            <p class="border-white pt-6 border-t-2">Copyright © 2018-2023 Protein Report. All rights reserved.</p>
        </div>
    </div>
</footer>