<p class="text-lg m-2">Job posted by:</p>
{{ if .Params.company}}
  {{ $company_uuid := .Params.company }}
  {{ $image := "" }}
  {{ $companies := where site.RegularPages "Type" "directory" }}
  {{ with where $companies ".Params.uuid" $company_uuid }}
    {{ with index . 0 }}
      {{ if .Params.featured_image }}
        {{ $image = .Resources.GetMatch .Params.featured_image }}
          <div class="flex flex-row flex-wrap md:flex-col divide-y-4 border-y-4 m-2">
            {{ $image := .Resources.GetMatch .Params.featured_image }}
            {{ $imageLq := $image.Resize "15x15 webp q95" -}}
            <a href="{{ .RelPermalink }}" class="flex flex-row sm:w-full md:max-w-1/2 lg:w-full items-center">
              <img class="w-1/5 lazyload blur-up my-2" src="{{ $image.RelPermalink }}" data-src="{{ $image.RelPermalink }}" alt="{{ .Title }}">
              <p class="text-xl pl-4">{{.Title}}</p>
            </a>
          </div>
      {{ end }}
    {{ end }}
  {{ end }}
{{ else if .Params.company_name }}
  <div class="flex flex-row flex-wrap border-y-4 m-2">
    <a href="{{ .Params.company_link }}" target="_blank" class="flex flex-row sm:w-full md:max-w-1/2 lg:w-full items-center">
      <p class="text-xl pl-4">{{ .Params.company_name }}</p>
    </a>
  </div>
{{ end }}
