{{ if .Params.company}}
  {{ $company_uuid := .Params.company }}
  {{ $companies := where site.RegularPages "Type" "directory" }}
  {{ with where $companies ".Params.uuid" $company_uuid }}
    {{ with index . 0 }}
      {{ $image := .Page.Resources.GetMatch .Params.featured_image }}
      {{ $image_webp := $image }}
      {{ if $image }}
          {{ $image = $image.Resize "480x" }}
          {{ $image_webp = $image.Resize "480x webp" }}
      {{ end }}
      {{ if $image }}
        <picture>
            <source srcset="{{ $image_webp.RelPermalink }}" type="image/webp">
            <img alt="" src="{{ $image.RelPermalink }}" class="aspect-square w-full object-contain" />
        </picture>
      {{ end }}
    {{ end }}
  {{ end }}
{{ else if .Params.company_name }}
  <div class="aspect-square basis-36 sm:basis-56 md:basis-36 flex items-center justify-center">
    <p class="lg:text-2xl w-min p-2 font-bold">{{ .Params.company_name }}</p>
  </div>
{{ end }}
