{{ if .Params.company}}
  {{ $company_uuid := .Params.company }}
  {{ $companies := where site.RegularPages "Type" "directory" }}
  {{ with where $companies ".Params.uuid" $company_uuid }}
    {{ with index . 0 }}
      {{ if .Params.featured_image }}
          {{ $image := .Resources.GetMatch .Params.featured_image }}
          <img class="object-contain aspect-video w-full p-4 lazyload blur-up" src="{{ $image.RelPermalink }}" data-src="{{ $image.RelPermalink }}" alt="{{ .Title }}">
      {{ end }}
    {{ end }}
  {{ end }}
{{ else if .Params.company_name }}
  <div class="aspect-video w-full flex items-center justify-center">
    <p class="md:text-4xl w-min p-4 font-bold">{{ .Params.company_name }}</p>
  </div>
{{ end }}
