{{ if .Params.company}}
  {{ $company_uuid := .Params.company }}
  {{ $companies := where site.RegularPages "Type" "directory" }}
  {{ with where $companies ".Params.uuid" $company_uuid }}
    {{ with index . 0 }}
      {{ if .Params.featured_image }}
          {{ $image := .Resources.GetMatch .Params.featured_image }}
          <img class="object-contain aspect-video w-1/2 py-2 lazyload blur-up" src="{{ $image.RelPermalink }}" data-src="{{ $image.RelPermalink }}" alt="{{ .Title }}">
      {{ end }}
    {{ end }}
  {{ end }}
{{ else if .Params.company_name }}
  <p class="text-4xl font-bold pl-4">{{ .Params.company_name }}</p>
{{ end }}
