{{ define "main" }}
<article>
  <div class="border-black mx-auto 2xl:max-w-7xl 2xl:border-x-2 border-y-4 bg-gray-100">
    <div class="py-12 px-2 text-center flex flex-col items-center">
      <h1 class="text-6xl">{{ .Title }}</h1>
      <div class="pt-4 text-2xl">
        {{ partial "event/meta.html" . }}
      </div>
    </div>
  </div>
  <div class="flex flex-row flex-wrap mx-auto 2xl:max-w-7xl divide-x-4 border-black">
    <div class="w-full flex flex-col md:max-w-[66.6%] border-black relative">
      {{ $image := .Resources.GetMatch .Params.banner_image -}}
      {{ if $image -}}
        <a href="{{ .Params.website }}" target="_blank">
          <img src="{{ $image.RelPermalink }}" alt="" class="lazyload blur-up img-fluid object-cover">
        </a>
      {{ end -}}
      {{ partial "event/flags.html" . }}
      <div class="w-full px-4 py-4 md:px-24 text-xl leading-normal">
        {{ .Content }}
      </div>
      <a href="{{ .Params.website }}" target="_blank" class="w-fit mx-auto mt-4 p-4 border-2 text-2xl text-center">Event website</a>
    </div>
    <aside class="w-full md:max-w-[33.3%]">
      {{ $logo := .Resources.GetMatch .Params.featured_image -}}
      {{ if $logo -}}
        <a href="{{ .Params.website }}" target="_blank">
          <img src="{{ $logo.RelPermalink }}" alt="" class="p-2 lazyload blur-up img-fluid aspect-video w-1/2 object-contain">
        </a>
      {{ end }}
      {{ partial "event/categories.html" . }}
      <h3 class="text-2xl bold p-2 border-t-4 border-r-4 w-fit mt-4">Upcoming Events</h3>
      {{ partial "event/latest.html" . }}
    </aside>
  </div>
</article>
{{ end }}