{{ define "main" }}
<article>
  <div class="mx-auto w-full border-y-4 mt-12">
    <div class="py-12 px-2 mx-auto text-center max-w-7xl 2xl:border-x-4">
      <h1 class="text-4xl md:text-6xl">{{ .Title }}</h1>
      <div class="flex pt-4 text-2xl justify-center">
        {{ partial "event/meta.html" . }}
      </div>
    </div>
  </div>
  <div class="grid grid-cols-1 gap-6 mx-auto max-w-7xl md:grid-cols-3 2xl:border-x-4">
    <div class="flex flex-col w-full md:col-span-2">
      {{ $image := .Resources.GetMatch .Params.banner_image -}}
      {{ if $image -}}
        <div class="w-full relative">
          <a href="{{ .Params.website }}" target="_blank">
            <img src="{{ $image.RelPermalink }}" alt="" class="lazyload blur-up img-fluid w-full aspect-[4/1] object-cover">
          </a>
          {{ partial "event/flags.html" . }}
        </div>
      {{ end -}}
      <div class="w-full prose-xl px-2 py-4 md:px-12 lg:px-24">
        {{ .Content }}
      </div>
      <a href="{{ .Params.website }}" target="_blank" class="w-fit mx-auto mt-4 p-4 border-2 text-2xl text-center">Event website</a>
    </div>
    <div class="flex flex-col w-full gap-6 md:col-span-1">
      <aside class="flex flex-col gap-4 w-full mt-2 px-2 md:pl-0">
        <div>
          <h3 class="text-lg font-bold">Organizer:</h3>
          {{ $logo := .Resources.GetMatch .Params.featured_image -}}
          {{ if $logo -}}
            <a class="flex border-y-4 my-2" href="{{ .Params.website }}" target="_blank">
              <img src="{{ $logo.RelPermalink }}" alt="" class="w-1/2 aspect-video object-contain lazyload blur-up my-2">
            </a>
          {{ end }}
        </div>
        <div>
          <h3 class="text-lg font-bold">Categories:</h3>
          {{ partial "event/categories.html" . }}
        </div>
      </aside>
      <aside class="w-full mt-12 px-2 md:pl-0 md:h-fit md:sticky md:top-0">
        <h3 class="text-3xl my-2 border-b-2">Upcoming Events</h3>
        {{ partial "event/latest.html" . }}
      </aside>
    </div>
  </div>
</article>
{{ end }}